main.csv - основная информация о предприятиях общественного питания (скачать)
- ID - уникальный номер объекта
- Name - наименование
- Address - адрес
---
net_property.csv - является ли предприятие сетевым (скачать)
- ID - уникальный номер объекта
- IsNetObject - метка, которая указывает на то, является ли предприятие сетевым
---
seats_property.csv - количество посадочных мест (скачать)
- ID - уникальный номер объекта
- SeatsCount - количество посадочных мест
- ver_ID - номер версии записи (чем выше, тем запись более актуальная)
---
type_property.csv - информация о специализации: столовая, закусочная, кафе, иное (скачать)
- ID - уникальный номер объекта
- TypeObject - специализация (тип) объекта
- is_actual - является ли запись о специализации актуальной. 0 - не актуальная, 1 - актуальная

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_main = pd.read_csv('6_main.csv')

In [3]:
df_net_property = pd.read_csv('6_net_property.csv')

In [4]:
df_seats_property = pd.read_csv('6_seats_property.csv')

In [5]:
df_type_property = pd.read_csv('6_type_property.csv')

## Урок 6.3

### Задание 1
Определите процент объектов у которых запись о специализации отсутствует или не является актуальной. Получившийся процент округлите до целых.

In [7]:
df_1 = pd.merge(df_main, df_type_property, how='left')
df_1.head()

,ID,Name,Address,TypeObject,is_actual
0,20988,ГУЗ,"город Москва, улица Казакова, дом 15",столовая,True
1,24828,Кафе Халяль,"город Москва, 8-я улица Текстильщиков, дом 5, ...",NaN,NaN
2,358126,Scarface,"Российская Федерация, город Москва, внутригоро...",кафе,True
3,373052,Кулинариум,"Российская Федерация, город Москва, внутригоро...",кафетерий,False
4,303239,One price coffee,"Российская Федерация, город Москва, внутригоро...",NaN,NaN

In [11]:
round((df_1.shape[0] - df_1.is_actual.sum()) / df_1.shape[0] * 100)

67

### Задание 2
Подтяните к исходному списку (main.csv) последние данные о числе посадочных мест для каждого объекта. Сколько всего посадочных мест получилось?

In [27]:
df_seats_property.groupby('ID').max('ver_ID')

        SeatsCount  ver_ID
ID
5882            75       2
19627           20       2
19657           85       2
19678           46       1
19681           24       1
...            ...     ...
375905          34       1
375933           5       2
375940          10       2
375942           0       1
375956           0       1

[8432 rows x 2 columns]

In [34]:
df_2 = pd.merge(df_main, df_seats_property.groupby('ID').max('ver_ID'), left_on = 'ID', right_index=True)
df_2.head()

,ID,Name,Address,SeatsCount,ver_ID
3,373052,Кулинариум,"Российская Федерация, город Москва, внутригоро...",4,1
4,303239,One price coffee,"Российская Федерация, город Москва, внутригоро...",5,2
6,342854,МЯСОЕД STEAK&BRISKET,"город Москва, проспект Вернадского, дом 86В",5,2
7,363640,Шаурма-выпечка,"Российская Федерация, город Москва, внутригоро...",5,2
11,254675,Timeless,"Российская Федерация, город Москва, внутригоро...",31,2

In [35]:
df_2.SeatsCount.sum()

188241

In [37]:
pd.merge(
        df_main, 
        df_seats_property.groupby('ID').max('ver_ID'), 
        left_on = 'ID', 
        right_index=True
)\
.SeatsCount\
.sum()

188241

In [6]:
pd.read_csv('6_main.csv').head(1)

      ID Name                               Address
0  20988  ГУЗ  город Москва, улица Казакова, дом 15

In [7]:
pd.read_csv('6_net_property.csv').head(1)

       ID IsNetObject
0  369614         нет

In [8]:
pd.read_csv('6_seats_property.csv').head(1)

       ID  SeatsCount  ver_ID
0  345181           0       1

In [9]:
pd.read_csv('6_type_property.csv').head(1)

       ID  TypeObject  is_actual
0  302619  закусочная       True