main.csv - основная информация о предприятиях общественного питания (скачать)
- ID - уникальный номер объекта
- Name - наименование
- Address - адрес
---
net_property.csv - является ли предприятие сетевым (скачать)
- ID - уникальный номер объекта
- IsNetObject - метка, которая указывает на то, является ли предприятие сетевым
---
seats_property.csv - количество посадочных мест (скачать)
- ID - уникальный номер объекта
- SeatsCount - количество посадочных мест
- ver_ID - номер версии записи (чем выше, тем запись более актуальная)
---
type_property.csv - информация о специализации: столовая, закусочная, кафе, иное (скачать)
- ID - уникальный номер объекта
- TypeObject - специализация (тип) объекта
- is_actual - является ли запись о специализации актуальной. 0 - не актуальная, 1 - актуальная

In [1]:
import pandas as pd
import numpy as np

## Урок 6.3

### Задание 1
Определите процент объектов у которых запись о специализации отсутствует или не является актуальной. Получившийся процент округлите до целых.

In [6]:
pd.read_csv('6_main.csv').head(1)

      ID Name                               Address
0  20988  ГУЗ  город Москва, улица Казакова, дом 15

In [7]:
pd.read_csv('6_net_property.csv').head(1)

       ID IsNetObject
0  369614         нет

In [8]:
pd.read_csv('6_seats_property.csv').head(1)

       ID  SeatsCount  ver_ID
0  345181           0       1

In [9]:
pd.read_csv('6_type_property.csv').head(1)

       ID  TypeObject  is_actual
0  302619  закусочная       True